header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 20px;
    top: 20px;
    position: fixed;
}
#clock {
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.854) 1px 0 10px;
    margin-top: 20px;
}
#quote {
    margin: 20px 20px;
    text-align: center;
}
#quote span:first-child{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-shadow: black 1px 0 10px;
    
}
#quote span:last-child{
    display: block;
    margin: 40px;
    font-size: 20px;
    font-weight: 600;
    color:rgb(66, 76, 85);

}
